<div id="vcomments"></div>

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@waline/client@2.14.1/dist/waline.css"
/>
<script src="https://cdn.jsdelivr.net/npm/@waline/client@2.14.1/dist/waline.min.js"></script>
<script>
    function loadWaline () {
        Waline.init({
            el: '#vcomments',
            locale: {
                placeholder: "<%= theme.comment.valine.placeholder %>",
            },
            path: window.location.pathname,
            pageSize:'<%= theme.comment.valine.pageSize %>',
            wordLimit: 250,
            lang:'<%= theme.comment.valine.lang %>',
            serverURL: '<%= theme.comment.valine.serverURL %>',
            reaction: true,
            emoji: [
                '//unpkg.com/@waline/emojis@1.1.0/weibo',
                '//unpkg.com/@waline/emojis@1.1.0/bilibili',
            ],
        });
    }
    window.addEventListener('DOMContentLoaded', loadWaline, false);
</script>
